*{
	margin:0;
	padding:0;
}

body{
	font-family:'Mulish';
}

header{
	background:#f0ebf9;
	height:81.2%;
	width:100%;
}

.container{
	width:82.5%;
	height:100%;
	margin:auto;
}

.header1,.header2{
	width:50%;
	height:100%;
	float:left;
}

header h5{
	font-weight:800;
	font-size:12;
	color:#6f42c180;
	letter-spacing:1.6;
	padding-top:130;
}

.main-heading{
	color:#6f42c1;
	margin-top:2;
	font-weight:900;
	font-size:40;
}

.para-style-1{
	margin-top:15;
	font-size:16;
	color:gray;
	word-spacing:.11;
	line-height:1.7;
}

.symptoms{
	font-family:Mulish;
	margin-top:47.5;
	font-size:12px;
	background:#6f42c1;
	color:white;
	border-radius:30px;
	padding:10.5px 29px;
	border:2px solid #6f42c1;
	text-transform:uppercase;
}

.header2{
	position:relative;
}

.header-img{
	bottom:0;
	position:absolute;
	max-width:100%;
	height:auto;
}

.header-img-symptoms{
	max-width:100%;
	height:AUTO;
	margin-top:10;
}

.section1{
	width:82.2%;
	margin:auto;
	height:59.3%;
	text-align:center;
}

.stats-heading{
	margin-top:125;
	color:#6f42c1;
	font-weight:900;
	font-size:30;
}

.Stats-con{
	text-align:center;
	width:33.33%;
	height:68%;
	float:left;
	margin-top:51;
}

.cases{
	margin-top:18;
	font-size:32px;
	font-weight:900;
}

.section1-para{
	font-weight:700;
	font-size:12;
	color:#aaa;
	letter-spacing:2;
}

.section2{
	width:82.2%;
	margin:auto;
	height:7%;
}

.section2-1{
	width:25%;
	float:left;
	height:100%;
}

.section2-1-1{
	margin-left:18;
	float:left
}

.section2 h5{
	font-size:15;
	font-weight:900;
	color:#6f42c1;
}

.section2 p ,.section3 p{
	color:#aaa;
}

.section3{
	width:84.3%;
	height:100%;
	margin:auto;
	margin-top:173.5;
}

.section3-1{
	width:56%;
	height:auto;
	margin:auto;
	text-align:center;
}

.section3 h2{
	color:#6f42c1;
	font-size:30px;
	font-weight:900;
	line-height:1.5;
}

.section3-2{
	width:100%;
	height:80%;
	margin-top:4;
}

.section3-2-1{
	width:25%;
	height:100%;
	margin-top:170;
	margin-left:15;
	margin-right:15;
	float:left;
}

ol{
	list-style-type:none;
}

.section3 li{
	line-height:2.4;
	margin-left:5;
	COLOR:gray;
}

.section3-2-1 ol i{
	font-size:12;
	margin-right:15;
	color:red;
}

.section3-2-1:first-child ol i{
	color:#aadf69;
}


.imgdiv{
	height:100%;
	width:44.5%;
	float:left;
	position:relative;
}

.imgdiv img{
	max-width:100%;
	height:auto;
	position:absolute;
	bottom:0;
}

footer{
	height:90%;
	width:100%;
	position:relative;
}

.footer-container{
	position:absolute;
	height:40%;
	width:85%;
	bottom:25%;
	left:7.5%;
}

#footer-section1{
	height:100%;
	width:31%;
	margin-left:15;
	margin-right:15;
	float:left;
}

.footer-section2{
	height:100%;
	width:19.5%;
	margin-left:15;
	margin-right:15;
	float:left;
}

.footer-section2 li{
	color:#6f42c1;
	line-height:2;
	font-weight:700;
}

footer a{
	text-decoration:none;
}